# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
../ms-commande/node_modules/
../ms-produit/node_modules/
../mongo_data/*
